* {
  margin: 0;
  padding: 0;
  border: none;
}

a, a:hover {
  text-decoration: none;
}
body {

  font-family: 'Roboto Slab', serif;
}
.container {
  width: 390px;
  margin: 0 auto;
}
ul, ol, li {
  list-style: none;
}